<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IJCDecauxEventBased" />
                <binding name="WSDualHttpBinding_IJCDecauxEventBased1" />
                <binding name="WSDualHttpBinding_IJCDecauxEventBased2" />
                <binding name="EB" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/WSJCDecauxEventBased"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IJCDecauxEventBased"
                contract="ServiceReference1.IJCDecauxEventBased" name="WSDualHttpBinding_IJCDecauxEventBased">
                <identity>
                    <userPrincipalName value="DESKTOP-CSIF16B\user" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/WSJCDecauxEventBased"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IJCDecauxEventBased1"
                contract="JCDecauxEventBased.IJCDecauxEventBased" name="WSDualHttpBinding_IJCDecauxEventBased1">
                <identity>
                    <userPrincipalName value="DESKTOP-CSIF16B\user" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/WSJCDecauxEventBased"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IJCDecauxEventBased2"
                contract="JCDecauxEventBased.IJCDecauxEventBased" name="WSDualHttpBinding_IJCDecauxEventBased2">
                <identity>
                    <userPrincipalName value="DESKTOP-CSIF16B\user" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/WSJCDecauxEventBased/"
                binding="wsDualHttpBinding" bindingConfiguration="EB" contract="JCDecauxEventBased.IJCDecauxEventBased"
                name="EB">
                <identity>
                    <userPrincipalName value="DESKTOP-CSIF16B\user" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>