<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMathsOperations" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMathsOperations" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/maths/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMathsOperations" contract="MathsLibrary.IMathsOperations"
                name="BasicHttpBinding_IMathsOperations" />
            <endpoint address="http://localhost:8733/maths/ws" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMathsOperations" contract="MathsLibrary.IMathsOperations"
                name="WSHttpBinding_IMathsOperations">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>